# Access dashDB and DB2 with Python

This notebook shows how to access a dashDB data warehouse or DB2 database when using Python. The examples use a dashDB warehouse, but the instructions apply to both dashDB and DB2.

## Table of contents

1. [Setup](#Setup) 
1. [Import the *ibmdbpy* Python library](#Import-the-ibmdbpy-Python-library)
1. [Identify and enter the database connection credentials](#Identify-and-enter-the-database-connection-credentials)
1. [Create the database connection](#Create-the-database-connection)
1. [Use dataframe to read and manipulate tables](#Use-dataframe-to-read-and-manipulate-tables)
1. [Close the database connection](#Close-the-database-connection)
1. [Summary](#Summary)


## Setup

Before beginning you will need a *dashDB* warehouse. dashDB is a fully managed cloud data warehouse, purpose-built for analytics. It offers massively parallel processing (MPP) scale and compatibility with a wide range of business intelligence (BI) tools.  

[Try dashDB free of charge on IBM Bluemix.](https://console.ng.bluemix.net/catalog/services/dashdb)

<a class="ibm-tooltip" href="https://console.ng.bluemix.net/catalog/services/dashdb" target="_blank" title="" id="ibm-tooltip-0">
<img alt="IBM Bluemix.Get started now" height="193" width="153" src="https://ibm.box.com/shared/static/42yt39czuksqdi278xpy96txtlw3lfmb.png" >
</a>





## Import the *ibmdbpy* Python library

Python support for dashDB and DB2 is provided by the [ibmdbpy Python library](https://pypi.python.org/pypi/ibmdbpy). Connecting to dashDB or DB2 is also enabled by a DB2 driver, libdb2.so.

The JDBC Connection is based on a Java virtual machine. From the ibmdbpy library you can use JDBC to connect to a remote dashDB/DB2 instance. To be able to use JDBC to connect, we need to import the *JayDeBeApi* package.

Run the following commands to install and load the JayDeBeApi package and the ibmdbpy library into your notebook:

In [1]:
!pip install jaydebeapi --user  
!pip install ibmdbpy --user

Requirement already satisfied: jaydebeapi in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages
Requirement already satisfied: JPype1 in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from jaydebeapi)
Requirement already satisfied: ibmdbpy in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages
Requirement already satisfied: future in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: pandas in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: numpy in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: pypyodbc in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: lazy in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: six in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from ibmdbpy)
Requirement already satisfied: python-dateutil in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from pandas->ibmdbpy)
Requirement already satisfied: pytz>=2011k in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from pandas->ibmdbpy)
Requirement already satisfied: setuptools in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from pypyodbc->ibmdbpy)
Requirement already satisfied: appdirs>=1.4.0 in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from setuptools->pypyodbc->ibmdbpy)
Requirement already satisfied: packaging>=16.8 in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from setuptools->pypyodbc->ibmdbpy)
Requirement already satisfied: pyparsing in /usr/local/src/bluemix_jupyter_bundle.v46/notebook/lib/python2.7/site-packages (from packaging>=16.8->setuptools->pypyodbc->ibmdbpy)

In [1]:
import jaydebeapi
from ibmdbpy import IdaDataBase
from ibmdbpy import IdaDataFrame

In [2]:
import os
os.environ['CLASSPATH'] = "/usr/local/src/data-connectors-1.4.1/db2jcc4-10.5.0.6.jar"

In [3]:
import jpype
args='-Djava.class.path=%s' % os.environ['CLASSPATH']
jvm = jpype.getDefaultJVMPath()
jpype.startJVM(jvm, args)


## Identify and enter the database connection credentials

Connecting to dashDB or a DB2 database requires the following information:
* Database name 
* Host DNS name or IP address 
* Host port
* Connection protocol
* User ID
* User password

All of this information must be captured in a connection string in a subsequent step. Provide the dashDB or DB2 connection information as shown:

In [4]:
dsn_uid = "dash100683";  # e.g.  dash104434
dsn_pwd = "UlWM3_W_yr3m"   # e.g. xxxx
dsn_hostname ="dashdb-entry-yp-dal09-09.services.dal.bluemix.net"  # e.g.  awh-yp-small03.services.dal.bluemix.net
dsn_port = "50000"   # e.g.  50001
dsn_database = "BLUDB"   # e.g. BLUDB

## Create the database connection

The following code snippet creates a connection string `connection_string`
and uses the `connection_string` to create a DB2 connection object:

In [5]:
connection_string='jdbc:db2://'+dsn_hostname+':'+dsn_port+'/'+dsn_database+':user='+dsn_uid+';password='+dsn_pwd+";" 
idadb=IdaDataBase(dsn=connection_string)

## Use dataframe to read and manipulate tables

You can now use the connection object `conn` to query the database:

In [6]:
df=idadb.show_tables(show_all = True)
df.head(5)

    TABSCHEMA               TABNAME       OWNER TYPE
0  DASH100683  DASH100683.RAND_DATA  DASH100683    T
1  DASH100683               MYTABLE  DASH100683    T
2  DASH100683         MY_RANDOM_TAB  DASH100683    T
3  DASH100683             RAND_DATA  DASH100683    T
4  DASH100683            RAND_DATA2  DASH100683    T

In [14]:
idadb.exists_table_or_view('DASH100683.MY_RANDOM_TAB')

True

Using our previously opened IdaDataBase instance named ‘idadb’, we can open one or several IdaDataFrame objects. They behave like pointers to remote tables.

Let us open the *EMP_EXPENSE_FACT* data set, assuming it is stored in the database under the name ‘GOSALESDW.EMP_EXPENSE_FACT’. The following cell assigns the dataset to a pandas DataFrame.

The [Pandas data analysis library](http://pandas.pydata.org/) provides high-performance, easy-to-use data structures and data analysis tools for the Python programming language. Pandas allows easy processing and manipulation of tabular data, so it is a perfect fit for data extracted from relational databases.

In [15]:
idadf = IdaDataFrame(idadb, 'DASH100683.MY_RANDOM_TAB')

You can very easily explore the data in the IdaDataFrame by using built in functions.

Use IdaDataFrame.head to get the first n records of your data set (default 5):

In [16]:
idadf.head(5)

          A         B         C
0  0.001031  0.990969  0.904130
1  0.003993  0.433071  0.104802
2  0.004355  0.346003  0.620385
3  0.005340  0.102251  0.596150
4  0.006145  0.173330  0.981780

Use IdaDataFrame.tail to get the last n records of your data set (default 5):

In [17]:
idadf.tail(5)

            A         B         C
995  0.991660  0.698497  0.063054
996  0.993395  0.080272  0.841330
997  0.993731  0.867532  0.903059
998  0.997653  0.046010  0.682554
999  0.998068  0.781119  0.209391

__Note:__ Because dashDB operates on a distributed system, the order of rows using IdaDataFrame.head and IdaDataFrame.tail is not guaranteed unless the table is sorted (using an ‘ORDER BY’ clause) or a column is declared as index for the IdaDataFrame (parameter/attribute indexer).

IdaDataFrame also implements most attributes that are available in a pandas DataFrame:

In [18]:
idadf.shape

(1000, 3)

In [19]:
idadf.columns

Index([u'A', u'B', u'C'], dtype='object')

Several standard statistics functions from the pandas interface are also available for IdaDataFrame. For example, let us calculate the covariance matrix for the iris data set:

In [20]:
idadf.cov()

          A         B         C
A  0.082846  0.004246  0.000606
B  0.004246  0.087202  0.002670
C  0.000606  0.002670  0.082999

It is possible to subset the rows of an IdaDataFrame by accessing the IdaDataFrame with a slice object. You can also use the IdaDataFrame.loc attribute, which contains an ibmdbpy.Loc object. However, the row selection might be inaccurate if the current IdaDataFrame is not sorted or does not contain an indexer. This is due to the fact that dashDB stores the data across several nodes if available. Moreover, because dashDB is a column oriented database, row numbers are undefined:

In [21]:
idadf_new = idadf[0:9] # Select the first 10 rows
idadf_new.head()

          A         B         C
0  0.044261  0.268741  0.015377
1  0.094236  0.254140  0.264955
2  0.183337  0.920436  0.856640
3  0.373350  0.209873  0.217878
4  0.496922  0.382590  0.996377

## Close the database connection

To ensure expected behaviors, IdaDataBase instances need to be closed. Closing the *IdaDataBase* is equivalent to closing the connection: once the connection is closed, it is no longer possible to use the *IdaDataBase* instance and any IdaDataFrame instances that were opened on this connection.

In [16]:
idadb.close()

Connection closed.

## Summary

This notebook demonstrated how to establish a connection to a dashDB / DB2 database from Python using the ibmdbpy library.

## Want to learn more?
### Free courses on <a href="https://bigdatauniversity.com/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu/" rel="noopener noreferrer" target="_blank">Big Data University</a>: <a href="https://bigdatauniversity.com/courses/?utm_source=tutorial-dashdb-python&utm_medium=github&utm_campaign=bdu" rel="noopener noreferrer" target="_blank"><img src = "https://ibm.box.com/shared/static/xomeu7dacwufkoawbg3owc8wzuezltn6.png" width=600px> </a>

### Authors

**Saeed Aghabozorgi**, PhD, is a Data Scientist in IBM with a track record of developing enterprise-level applications that substantially increases clients' ability to turn data into actionable knowledge. He is a researcher in the data mining field and an expert in developing advanced analytic methods like machine learning and statistical modelling on large data sets.

**Polong Lin** is a Data Scientist at IBM in Canada. Under the Emerging Technologies division, Polong is responsible for educating the next generation of data scientists through Big Data University. Polong is a regular speaker in conferences and meetups, and holds an M.Sc. in Cognitive Psychology.

Copyright © 2016, 2017 Big Data University. This notebook and its source code are released under the terms of the <a href="https://bigdatauniversity.com/mit-license/" rel="noopener noreferrer" target="_blank">MIT License</a>.